
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FYP2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!--link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script-->
    {% block js_modules %}{% endblock %}
</head>

<body>
    <h1>{% block title %}{% endblock %}</h1>

    
    {% block content %}

    {% endblock %}
</body>
</html>